<<html>
<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<div id="form">

		<div id="form">
			<h4 class="center-align">Register a new User</h4>
			<form class="col m12 l12 xl12">
				<div class="input-field">
					<input id="search" type="search" required>
					<label class="label-icon" for="search"><i class="material-icons">search</i></label>
					<i class="material-icons">close</i>
				</div>
			</form>
		</div>

	</div>
</body>
</html>
