<html>
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="/vendor/lodash/lodash.js" type="text/javascript"></script>
</head>
<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper grey lighten-5">
        <a href="" class="brand-logo center show-on-medium left show-on-large show-on-small left black-text">Ilumina Users</a>
        <ul id="nav-mobile" class="right">
          <li><a href="" class="black-text">Profile</a></li>
          <li><a href="" class="black-text">Messages<span class="new badge">4</span></a></li>
          <li><a href="" class="black-text">Logout</a></li>
        </ul> 
      </div>
    </nav>
  </div>
      <div class="row">
      <div class="col xl3 s3 m3" style="margin-top:30px;">
        <div class="section selector" (click)="toggleNav($event); $event.stopPropagation()" routerLink="adduser">
          <i class="small material-icons">person_add</i>
          <span class="text-grey darken-2">Create User</span>
        </div>
        <div class="section " (click)="toggleNav($event); $event.stopPropagation()" routerLink="updateinfouser"><i class="small material-icons">edit</i><span class="text-grey darken-2" >Update User information</span></div>
        <div class="section" (click)="toggleNav($event); $event.stopPropagation()"><i class="small material-icons">search</i><span class="text-grey darken-2">Search Users</span></div>
        <div class="section" id="item4" (click)="toggleNav($event); $event.stopPropagation()"><i class="small material-icons">close</i><span class="text-grey darken-2">Close Account</span></div>
      </div>
      <div class="col xl9 s9 m9 l9" id="container" style="margin-top:30px;">
        <router-outlet></router-outlet>
      </div> 
    </div>
</body>
</html>