<html>
<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<div id="form">
		<h4 class="center-align">Register a new User</h4>
		<form class="col m12 l12 xl12">

			<div class="row">
				<div class="input-field col m8 l8 xl8 offset-s2 offset-m2 offset-l2 offset-xl2 form-control">
					<input name="username" type="text" class="validate" [(ngModel)]="userModel.username">
					<label for="Username">Username</label>
				</div>
			</div>
			
			<div class="row">
				<div class="input-field col m8 l8 xl8 offset-s2 offset-m2 offset-l2 offset-xl2 form-control">
					<input name="password" [(ngModel)]="userModel.password" type="password" class="validate">
					<label for="Password">Password</label>
				</div>
			</div>
			
			<div class="row">
				<select class="browser-default col m8 l8 xl8 offset-s2 offset-m2 offset-l2 offset-xl2 form-control" name="gender" [(ngModel)]="userModel.gender">
					<option value="" disabled selected>Choose your option</option>
					<option value="a1">Contrator</option>
					<option value="a2">Regular</option>
					<option value="admin">admin</option>
				</select>

			</div>

			<div class="row">
				<div class="col m8 l8 xl8 offset-s2 offset-m2 offset-l2 offset-xl2">
					<form action="#">
						<div class="file-field input-field form-control">
							<div class="btn">
								<span>Picture</span>
								<input type="file" id="img" />
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text">
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="row">

				<button class="btn waves-effect waves-light col m3 l3 xl3 offset-s2 offset-m4 offset-l4 offset-xl4" type="submit" name="action" (click)="addUser()">Register
					<i class="material-icons right">send</i>
				</button>

			</div>

			<!-- Modal Success Registration-->
			<div id="modal1" class="modal" materialize="modal" [materializeParams]="model1Params" [materializeActions]="modalActions1">
				<div class="modal-content">
				    <h4>Registration Message</h4>
					<p>The user was created successfully</p>
				</div>
				<div class="modal-footer">
					<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" (onclick)="closeModalSuccess()">Ok</a>
				</div>
			</div>

			<!-- Modal Fail Registration -->
			<div id="modal2" class="modal" materialize="modal" [materializeParams]="model1Params" [materializeActions]="modalActions2">
				<div class="modal-content">
					<h4>Registration Message</h4>
					<p>{{errorMesage}}</p>
				</div>
				<div class="modal-footer">
					<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
				</div>
			</div>

		</form>
	</div>
</body>
</html>
